<!DOCTYPE html PUBLIC >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Academic Assessment</title>
<link rel="stylesheet" href="../../static/feedback_form/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../static/feedback_form/bootstrap/dist/css/academic.css">
</head>


<body>


{% if faculty_qlist and course_qlist and comment %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="panel panel-primary"> <!--Outermost panel-->
  <div class="panel-title">   <!--paneltitle-->
      <div class="container"> <!--container-->
         <div class="panel-title text-center">
           <h1>Academic Assessment</h1>
         </div> 
      </div>     <!--closing of class=container-->
  </div>       <!--closing of class=panelheading-->
</div>         <!--closing of outermost panel--> 

 <div class="student_id"> 
<label  id ="feedback_id"  align=" center" rel="popover" data-toggle="popover"  data-animation="5s" title="Important" data-content="Please,note this  id. Needed in case you want to resume the  feedback form.">
    <strong  >Your Feedback Id: {{ std_id }} </strong>
    <label>
</div>
</br>

<!--<div class="panel panel-primary">   Outermost panel panel-primary-->
   <div class="container"> <!--class container -->
      <div class="panel-body" id="instruction_panel">    <!--class panelbody-->
            <div ><!--class=" row alert alert-info"-->
                     <strong class="col-md-6" id="instruction">Instructions</strong>
                  <div class="col-sm-6" style="margin-left:-10px;">
                     <label>1-Very poor</label> 
                     <label>2-Poor</label>
                     <label>3-Good</label>
                     <label>4-Average</label>
                     <label>5-Excellence</label>
                  </div><!-- Closing of class colm-sm-6-->
            </div><!-- Closing of class row-->
          </div> <!-- Closing of class panel body-->
        </div> <!-- Closing of class container-->
      
</br>
</br>

<form action="{% url 'academic_action' %}" method="post">
   {% csrf_token %}

   <div  class= "panel" style="margin-left:75px;"><!-- div class panel-->

 <!-- <div class="row" class="form-inline">div class row-->
  <label id="subject">Subject</label>
  <select name="subject" id="id_subject" class="form-inline form-control"><!--class="form-inline"-->
    <!--<div id="select_subject"-->
  <option >--- Select Subject ---</option>
  {% for s in  subject_list%}
  

		<option value = {{s.subject_id}}> {{s.name_of_subject}} </option>
		  <!-- </div-->
	{% endfor %}
	</select> &nbsp; &nbsp; &nbsp; &nbsp; 
  <label id="faculty">Faculty</label>
  <!--<label id = "id_faculty_name">-->
  <select name="faculty" id = "id_faculty_name" class="form-inline form-control" ><!--class="form-control"-->
  <!--{% for f in  faculty_name_list%}
    {% for i in f%}
    <option value = {{i}} >{{i}}</option>
    }
  {% endfor %}
  {% endfor %}-->
  </select>

<!--</div>  closing div class row-->
  <br/> <br/> 

  <div id = "id_questions" style = 'visibility:hidden;'>

  {% for q in faculty_qlist %}
   <div class="panel panel-default"> <!-- div class panel_default-->
    <div class="row" ><!-- div closing row-->
  <div class="col-xs-6">
    <label id="label1">{{q.question_text}}</label>
  </div>
  <div class="col-xs-6 align_radio" > <!-- div class align_radio-->
    {% for i in "12345" %}
    <div class="radio_button"> <!-- div class radio_button-->
      <label class="radio-inline" >
          <input type = "radio" id="inlineRadio" onClick="changeColor('label1', 'green')" name={{q.id}} value={{i}} required /> {{i}}
        </label> 
      </div> <!-- div closing radio_button-->
      {% endfor %}
    </div> <!--  closing class align_radio--> 
       </div> <!--  closing class row--> 
     </div><!--  closing class panel_default-->

  </br>

  {% endfor %}
 </div> <!-- Closing of class panel body-->
  </br></br>
  </br></br></br>

  {% for c in comment %}
  <label class="col-md-6 comment_1">{{c.question_text}}</label>
  <div class="col-sm-6"> <!--div class col-sm-6-->
  <textarea id="text_area_1" rows="3" class="form-control" placeholder="Comments" name = "comment1"></textarea>
</div> <!-- Closing of class col-sm-6--> 
  {% endfor %}

  </br> </br>

  {% for c in course_qlist %}
   <div class="panel panel-default row" id="question2" class="label1" style="margin-left:5px;"> <!-- div class panel_default-->
  <div class="col-xs-6" ><!-- div class col-xs-6-->
    <label class="color_text"  >{{c.question_text}}</label>
  </div><!-- div closing col-xs-6-->
  <div class="col-xs-6 align_radio" ><!-- div class align_radio-->
    {% for i in "12345" %}
    <div class="radio_button"> <!-- div class radio_button-->
      <label class="radio-inline">
          <input type = "radio" id="inlineRadio" onClick="changeColor('label1', 'green')" name={{c.id}} value={{i}} required /> {{i}} 
          </label> 
    </div> <!-- div closing radio_button-->
      {% endfor %}
    </div><!-- closing div class align_radio-->
       </div>  <!--  closing class panel_default-->
  </br>


  {% endfor %}

  </br>
 
  {% for c in comment %}
  <label class="col-md-6">{{c.question_text}}</label>
  <div class="col-sm-6"> <!--div class col-sm-6-->
      <textarea id="text_area_2" rows="3" class="form-control" placeholder="Comments" name = "comment2">
       </textarea>
  </div> <!-- Closing of class col-sm-6--> 
  {% endfor %}
  </br> </br>
  </br> </br>

  </br> </br>
  <div class="col-sm-offset-6"> <!--div class sm offfset-->
     <input type="submit" value="Submit" class="btn btn-primary"></input>
  </div>  <!-- Closing of class sm offfset--> 

</form>

</div> <!-- Closing of hidden paragraph -- >

{% endif %}


<!-- JavaScript Section -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script type="text/javascript" src = "../../static/feedback_form/jquery.min.js"></script>   
<script>

  // Function to avoid back page functionality of the browser.
      function noBack()
         {
             window.history.forward()
         }
        noBack();
        window.onload = noBack;
        window.onpageshow = function(evt) { if (evt.persisted) noBack() }
        window.onunload = function() { void (0) }

    // To dynamically update semester, batch and section fields.
    $(document).ready(function(){
      console.log("hiii");
      $('#id_subject').change(function(){
        $('#id_questions').css('visibility', 'visible');
        sub_name = $(this).val();

        console.log("hii");
        request_url = 'academic_assessment/get_faculty_name/' + sub_name + '/';
        console.log(request_url);
        $.ajax({
                url: request_url,
                success: function(faculty_name){
                data = $.parseJSON(faculty_name);
                console.log(faculty_name);
                console.log(data[0])
                //$('#id_faculty_name').html()
                $('#id_faculty_name').html('<option >'  + data[0] +'</option>');
            }
      
      })
      });

    });
  /* $(document).ready(function(){
   $('#inlineRadio').click(function(){
    $('#question').addclass("color_text");

   });
 });*/
 $(function () {
  //$('[data-toggle="popover"]').popover()
  $("#feedback_id").popover('show');
});
    $("#feedback_id").on('shown.bs.popover', function () {
    var pop = $(this);
    setTimeout(function () {
        pop.popover('hide');
    }, 6000);
});
  
</script>
<!--<script type="text/javascript" src = "../../static/feedback_form/jquery.min.js"></script>-->   
<script>
 function changeColor(id, newColor) {

//var labelObject = document.getElementById(id);

$('"." + id').css("color", newColor);
console.log(id);
console.log(newColor);
}
</script>
</script>
<!-- End of JavaScript section -->
</div>   <!-- Closing of class panel primary-->

<script src="../../static/feedback_form/bootstrap/dist/js/bootstrap.min.js"></script> 
</body>
</html>
