<!DOCTYPE html PUBLIC >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Academic Assessment</title>
<link rel="stylesheet" href="../../static/feedback_form/bootstrap/dist/css/bootstrap.min.css"> 
<style type="text/css">

             h2{           
                 font-weight: bold;

               }
     .container{
                 font-size: 15px;
               }
          label{
                padding:10px;
              }
           hr{
               margin-top:10px;
             }
        .panel-title{
              background-color: #5bc0de;
        }
</style>
</head>


<body>


{% if faculty_qlist and course_qlist and comment %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="panel panel-primary"> <!--Outermost panel-->
  <div class="panel-title">   <!--paneltitle-->
      <div class="container"> <!--container-->
         <div class="panel-title text-center">
	       <u><h1>Academic Assessment</h1></u>
         </div>	
      </div>     <!--closing of class=container-->
  </div>       <!--closing of class=panelheading-->
</div>         <!--closing of outermost panel--> 

<div class="panel panel-primary">   <!-- Outermost panel panel-primary-->
   <div class="container">
      <div class="panel-body">    <!--class=panelbody-->
            <div class=" row alert alert-info">
                     <strong class="col-md-6">Instructions</strong>
                  <div class="col-sm-6" style="margin-left:-10px;">
                     <label>1-Very poor</label> 
                     <label>2-Poor</label>
                     <label>3-Good</label>
                     <label>4-Average</label>
                     <label>5-Excellence</label>
                  </div><!-- Closing of class colm-sm-6-->
            </div><!-- Closing of class row-->
          </div> <!-- Closing of class panel body-->
        </div> <!-- Closing of class container-->
      
</br>
</br>

<form action="{% url 'academic_action' %}" method="post">
   {% csrf_token %}

   <div  class= "panel" style="margin-left:75px;"><!-- div class panel-->


	<label>Subject</label>
	<select name="subject" id = "id_subject">
	<option>--- Select Subject ---</option>
	{% for s in  subject_list%}
		<option value = {{s.subject_id}}>{{s.name_of_subject}}</option>
		   <!-- <option value = {{s}}>{{subject_list[s]}}</option> -->
	{% endfor %}
	</select> &nbsp; &nbsp; &nbsp; &nbsp; 

	<label>Faculty</label>
	<!--<label id = "id_faculty_name">-->
	<select name="faculty" id = "id_faculty_name">
	<!--{% for f in  faculty_name_list%}
		{% for i in f%}
		<option value = {{i}} >{{i}}</option>
		}
	{% endfor %}
	{% endfor %}-->
	</select>

	<br/> <br/>

	<div id = "id_questions" style = 'visibility:hidden;'>

	{% for q in faculty_qlist %}
	<label >{{q.question_text}}</label>
		{% for i in "12345" %}
		<label class="radio-inline">
        	<input type = "radio" name={{q.id}} value={{i}} /> {{i}}
        </label> 
    	{% endfor %}
	</br>

	{% endfor %}
 </div> <!-- Closing of class panel body-->
	</br>

	{% for c in comment %}
	<label>{{c.question_text}}</label>
	<textarea name = "comment1"></textarea>
	{% endfor %}

	</br> </br>

	{% for c in course_qlist %}
	<label>{{c.question_text}}</label>
		{% for i in "12345" %}
        	<input type = "radio" name={{c.id}} value={{i}} /> {{i}} 
    	{% endfor %}
	</br>

	{% endfor %}

	</br>

	{% for c in comment %}
	<label>{{c.question_text}}</label>
	<textarea name = "comment2"></textarea>
	{% endfor %}

	</br> </br>

	</br> </br>
  <div class="col-sm-offset-6"> <!--div class sm offfset-->
    <input type="submit" value="Submit" class="btn btn-primary"></input>
     </div>  <!-- Closing of class sm offfset--> 

</div>
</form>
</div>   <!-- Closing of class panel primary-->
{% endif %}


<!-- JavaScript Section -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script type="text/javascript" src = "../../static/feedback_form/jquery.min.js"></script>   
<script>
    
    $(document).ready(function(){
    	console.log("hiii");
    	$('#id_subject').change(function(){
    		sub_name = $(this).val();

    		console.log("hii");
    		request_url = 'academic_assessment/get_faculty_name/' + sub_name + '/';
    		console.log(request_url);
    		$.ajax({
                url: request_url,
                success: function(faculty_name){
                data = $.parseJSON(faculty_name);
                console.log(faculty_name);
                console.log(data[0])
                //$('#id_faculty_name').html()
                $('#id_faculty_name').html('<option >'  + data[0] +'</option>');
            }
    	
    	})
    	});

    });
</script>

<!-- End of JavaScript section -->

<script src="../../static/feedback_form/bootstrap/dist/js/bootstrap.min.js"></script> 
</body>
</html>
