<!DOCTYPE html>
<html>
  <head>
    <title>
     Student Feedback Form
    </title>

    <link rel="stylesheet" href="../../static/feedback_form/bootstrap/dist/css/bootstrap.min.css"> 
    <style type="text/css">
    .row{
      background-color:#d4cfe9;
    }
    #user{
      background-color:#8878c3;
    }
    #resume{
      color: #8878c3; 
    }
      
    </style>

	</head>
<body>
          <h2 class="text-center">FEEDBACK | HOME</h2>

   <div class="row alert alert-info">
<div class="col-sm-3"></div>
<div class="col-sm-6" style="margin-left:-10px ;" align="center" >
       <div class="panel panel-primary" align="center" >
            <div class="panel-heading " id="user">
                <h2 class="panel-title text-center">Existing User</h2>
            </div>
       
            <!-- Button trigger modal -->
        <a  href="#" class="" data-toggle="modal" data-target="#myModal" id="resume">
              <h2 align="center">Resume</h2>
          </a>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          
          <h4 class="modal-title" id="myModalLabel">Enter the ID provided to you :</h4>
          </div>
          <div class="modal-body">
                  <form action="{% url 'resume_action' %}" method="POST">
                  {% csrf_token %}
                    <div class="row">
                      <div class="col-md-8"><input required="required"  id="fs_id" type="text" class="form-control" class="col-md-7" placeholder="Enter ID"  name="fs_id" autofocus=autofocus>  </div>
                      <div class="col-md-2"><button type="submit" name="submit" class="btn btn-primary" class="col-md-3">Submit</button></div>
                      <div class="col-md-2"><button type="button" class="btn btn-danger" class="col-md-2" data-dismiss="modal">Close</button></div>
                    </div> 
          </div>
                  </form>  
          
        </div><!-- ./modal-content -->
        </div>
      </div><!-- ./modal-dialog -->
        </div> <!-- ./modal -->
    </div>
    <div class="col-sm-3"></div>
</div>
</div>

<script src="../../static/feedback_form/jquery.min.js"></script>



<script src="../../static/feedback_form/jquery.min.js"></script>

<script>
    //$(document).load(alert('hello'));
    function noBack()
         {
             window.history.forward()
         }
        noBack();
        window.onload = noBack;
        window.onpageshow = function(evt) { if (evt.persisted) noBack() }
        window.onunload = function() { void (0) }
</script>


<script src="../../static/feedback_form//bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
    
