<!DOCTYPE html>
<html>
  <head>
    <title>
     Student Feedback Form
    </title>
	</head>
<body>
          <h2 class="text-center">STUDENT's FEEDBACK</h2>

   <div align="center">
   		<strong class="col-md-12" >Thank-you for registering with IIPS. You may now proceed for feedback anonymously.</strong><br>
   </div>  

   <div>
        <h3><strong>INSTRUCTIONS:</strong></h3>
          <p><small>1.)You are requested to give your frank and objective opinion about various aspects of the subject taught to you for improving and maintaining quality of teaching.</br>
          2.) Your response will be kept confidential.</br>
          3.) Specify the BatchId correctly you have provided e.g:IC-2k10</small>
          </p>
  </div>

<form name="feedback_login_form" method="post" action="{% url 'feedback_system:index' %}" id = 'feedback__login_form'>
	{% csrf_token %}

              <label>Name of programmes</label>
               <select name="course">
                    <option >Select Course</option>
                    <option >MTECH</option>
                    <option >MCA</option>
                                    
               </select> 
           
              </br></br>
              <label>Semester</label>
              	<select name="semester">
                     <option>1 SEM</option>
                     <option>2 SEM</option>
                     <option>3 SEM</option>
                     <option>4 SEM</option>
                     <option>5 SEM</option>
                     <option>6 SEM</option>
                     <option>7 SEM</option>
                     <option>8 SEM</option>
                     <option>9 SEM</option>
                     <option>10 SEM</option>
                     <option>11 SEM</option>
                     <option>12 SEM</option>
                </select> 
          
              </br></br>
              <label>Course ID</label>
               <select name="course_id">
                     <option>IC</option>
                     <option>IT</option>
               </select> 

              </br></br>
              <label>Batch ID</label>
               <select name="batch_id">
                     <option>2K9</option>
                     <option>2K10</option>
                     <option>2K11</option>
                     <option>2K12</option>
                     <option>2K13</option>
                     <option>2K14</option>              
               </select>

              </br></br>
              <label class="control-lab el col-sm-offset-2 col-sm-2"  for="company">Section</label>
                <select name="section" class="form-control">
                  <option>Select Section</option>
                  <option>A</option>
                  <option>B</option>              
               </select>     

           </br>
           </br>
           <div  align="center">
               <button type="submit" name="submit" class="btn btn-primary">Submit</button> <button type="button" class="btn btn-danger">Exit</button>     
           </div>
</form>
</body>
</html>
    
