<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Infrastructure Support</title>
<link rel="stylesheet" href="../../static/feedback_form/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../static/feedback_form/bootstrap/dist/css/infrastructure.css">
</head>


<body>


{% if infrastructure_qlist%}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="panel panel-primary"> <!--Outermost panel-->
  <div class="panel-title">   <!--paneltitle-->
      <div class="container"> <!--container-->
         <div class="panel-title text-center">
           <h1>InfraStructure Support</h1>
         </div>
      </div>     <!--closing of class=container-->
  </div>       <!--closing of class=panelheading-->
</div>         <!--closing of outermost panel--> 

<!--<a href="#" id ="example" rel="popover" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</a>
</br>-->
<div  class="student_id">
<!--a href="#"-->
<label  id ="feedback_id"  align=" center" rel="popover" data-toggle="popover"  data-animation="5s" title="Important" data-content="Please,note this  id. Needed in case you want to resume the  feedback form.">
    <strong  >Your Feedback Id: {{ std_id }} </strong>
    <label>
<!--</a>-->
</div>
<br>

 <!--<div class="panel panel-primary">  Outermost panel panel-primary-->
   <div class="container"  ><!--class container-->
      <div class="panel-body" id="instructions">    <!--class=panelbody-->
            <div ><!--class=" row alert alert-info"-->
                     <strong class="col-md-6">Instructions</strong>
                  <div class="col-sm-6" style="margin-left:-10px;">
                     <label>1-Very poor</label> 
                     <label>2-Poor</label>
                     <label>3-Good</label>
                     <label>4-Average</label>
                     <label>5-Excellence</label>
                  </div><!-- Closing of class colm-sm-6-->
            </div><!-- Closing of class row-->
          </div> <!-- Closing of class panrl body-->
        </div> <!-- Closing of class container-->
       
</br>
</br>
</div>
<form action="{% url 'infrastructure_action' %}" method="post" class="form-inline" class="form-control">
  {% csrf_token %}
<!--<div class="col-md-6">-->
 <div  style="margin-left:75px;"><!-- div class panel-->
  
   {% for q in infrastructure_qlist %}
   <div class="panel panel-default "> <!-- div class panel_default-->
     <div class="row" ><!-- div class row-->
   <div class="col-xs-6"><!-- div class col-xs-6-->
    <label  for="label1">{{q.question_text}}</label>
  </div><!-- div closing col-xs-6 -->
  <div class="col-xs-6 align_radio" > 
    {% for i in "12345" %}
        <div class="radio_button" > <!-- div class radio_button-->
           <label class="radio-inline"> 
             <input type = "radio" id="inlineRadio" onClick="changeColor('inlineRadio')" name={{q.id}} value={{i}} required /> {{i}}
           </label> 
        </div> <!-- div closing radio_button      onClick="changeColor('label1', 'green')"--> 

      {% endfor %}
    </div>
  </div><!-- div closing row-->
       </div>  <!--  closing class panel_default-->
  </br>
  
  {% endfor %}
 <!--</div>-->
 
  <br/>
  </div>  <!-- Closing of class panel-->
   <div class="col-sm-offset-6"> 
    <input type="submit" value="Submit" class="btn btn-primary"></input>
     </div>
 </form>


{% endif %}
<script type="text/javascript" src = "../../static/feedback_form/jquery.min.js"></script>   
<script>


 function noBack(){window.history.forward();}

    function noBack()
         {
             window.history.forward()
             //$('[data-toggle="popover"]').popover();
         }
        noBack();
        window.onload = noBack;
        window.onpageshow = function(evt) { if (evt.persisted) noBack() }
        window.onunload = function() { void (0) }

    $(function () {
  //$('[data-toggle="popover"]').popover()
  $("#feedback_id").popover('show');
});
    $("#feedback_id").on('shown.bs.popover', function () {
    var pop = $(this);
    setTimeout(function () {
        pop.popover('hide');
    }, 6000);
});
  
   

</script>

<script>
 function changeColour(id)
{

    document.getElementsByTagName(id).style.backgroundColor = "#D9F7BC";
}

</script>
<!--</div>  Closing of class panel primary-->
<script src="../../static/feedback_form/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>