<!DOCTYPE html>
<html>
<head>
	<title>Feedback|Home</title>
	<!--#<script type="text/javascript" src="../../static/feedback_form/prototype.js"></script>
    #<script type="text/javascript" src="../../static/feedback_form/select_batch.js"></script>-->
</head>
<body>
	<h1> Feedback|Home </h1>

	{% if form.errors %}
		<p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
    	<table>
    		{{ form.as_table }}
    	</table>
        {% block choice %}

        {% endblock %}
    	{% csrf_token%}
    	<input type="submit" value="Submit">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    	
$(document).ready(function(){
    $('#id_course_name').change(function(){
        $('#id_section').parent().addClass('remove');
        $('.remove').parent().addClass('hatYar');
        c_id = $(this).val();
        if( c_id == "MTECH")
	        $('.hatYar').css('display', 'none');
	    else
	       $('.hatYar').css('display', 'block');

        request_url = 'login/get_batch/' + c_id + '/';
        $.ajax({
            url: request_url,
            success: function(data){
                data = $.parseJSON(data);
                //console.log(data);
                $('#id_batch').html('<option selected="' + "selected" + '">' + '' +'</option>');
                $('#id_semester').html('<option selected="' + "selected" + '">' + '' +'</option>');
                //console.log(data);
                $.each(data[0], function(key, value){
                    //console.log(key, value);
                    $('#id_batch').append('<option value="' + key + '">' + value +'</option>');
                }); 
                /*$.each(data[1], function(key, value){
                    $('#id_semester').append('<option value="' + key + '">' + value +'</option>');
                }); */
                console.log(typeof(data[1]));
                for(var i = 1; i<=data[1]; i++)
                    $('#id_semester').append('<option value="' + i + '">' + i +'</option>');
            }, 
            errors: function(e) {
                alert(e);
            }
        })
      /*$.ajax({
            url: 'login/get_no_of_sem/' + c_id + '/',
            success: function(sem){
                data = $.parseJSON(sem);
                console.log(sem);
                });  
            }, 
            errors: function(e) {
                alert(e);
            }
        })*/

    })
}); 

    </script>

</body>
</html>
