<!DOCTYPE html>
<html>
<head>
	<title>Feedback|Home</title>
  <link rel="stylesheet" href="../../static/feedback_form/bootstrap/dist/css/bootstrap.min.css"> 
	<style type="text/css">

     .panel-title{
              background-color: #8878c3;
               }
      #form{
        /*background-color: #c1b9e0;*/
        background-color: #d4cfe9;
      }
</style>
</head>
<body> 
    <div class="panel panel-primary">
      <div class="panel-title">   
        <div class="container">    
            <div class="row">
	           <h1 class = 'tetxt-center' align="center" style="color:white"> STUDENT's FEEDBACK </h1>
              </div> 
        </div>     
    </div> 
</div>

 
   </div>
   <div> <div class="container-fluid">
      <div class="row alert alert-info" id="form">
      <div class="panel-body">
        <h3><strong>INSTRUCTIONS:</strong></h3>
          <p><small>1.)You are requested to give your frank and objective opinion about various aspects of the subject taught to you for improving and maintaining quality of teaching.</br>
          2.) Your response will be kept <b>confidential</b>.</br>
          3.) Specify the BatchId correctly you have provided e.g: <b>IC-2K-11</b></small> </br>
          4.) <strong>All entry you submit will not be editable so fill it carefully.</strong>
          </p>
      </div>
      </div>
  </div>
</div>  
  

	{% if form.errors %}
		<p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
       <div class="jumbotron container-custom" ><!--opening class jumbotron container-custom"-->
            <!--<div class="form-group">opening class form group--> 
               <div class="row" align="centre"> <!--opening class row-->  
    <!--	<table>
    		{{ form.as_table }}
    	</table> -->
     {{ form.non_field_errors }}
<div class="form-group">
<div class="row"> 
<div class="fieldWrapper">
    {{ form.programme.errors }}
    <label class="control-label col-sm-offset-4 col-sm-2" for="id_programme">Programme Name:</label>
    
    <!-- <select class="form-control"> <option>{{ form.programme }} </option></select> -->
    {{ form.programme }}
</div>
</div>    
</div>

<div class="form-group">
<div class="row">
<div class="fieldWrapper">
    {{ form.semester.errors }}
    <label class="control-label col-sm-offset-4 col-sm-2" for="id_semester">Semester:</label>
    
    {{ form.semester }}
    
</div>
</div>
</div>

<div class="form-group">
<div class="row">
<div class="fieldWrapper">
    {{ form.batch.errors }}
    <label class="control-label col-sm-offset-4 col-sm-2" for="id_batch">Batch Id:</label>
    
    {{ form.batch }}

</div> 
</div>
</div>

<div id = 'id_toggle_section' style = "display: none;">
<div class="form-group">
<div class="row">
<div class="fieldWrapper">
    {{ form.section.errors }}
    <label class="control-label col-sm-offset-4 col-sm-2" for="id_section">Section:</label>
    
    {{ form.section }}
    
</div> 
</div>
</div>
</div>





    	{% csrf_token%}
       </div> <!--closing class row--> 
     <!-- </div> closing class form group-->
  </div><!--closing class jumbotron container-custom"-->
</div>
     <div class="col-md-11" align="center">
          <input type="submit" value="Submit" class="btn btn-primary"></input>
          <a href="{% url 'index' %}" class="btn btn-danger"> Back </a>
         <!--<button type="button" class="btn btn-primary">Submit</button>-->
     </div>
    </form>

   <!-- JavaScript Section -->
    <script type="text/javascript" src = "../../static/feedback_form/loginForm.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    
    <script type="text/javascript" src = "../../static/feedback_form/jquery.min.js"></script>
    <script>
      // Function to avoid back page functionality of the browser.
      function noBack()
         {
             window.history.forward()
         }
        noBack();
        window.onload = noBack;
        window.onpageshow = function(evt) { if (evt.persisted) noBack() }
        window.onunload = function() { void (0) }


    $(document).ready(function(){

          $('#id_programme').change(function(){
            c_id =$(this).val();

            request_url = 'login/get_batch/' + c_id + '/';
            $.ajax({
                url: request_url,
                success: function(data){
                data = $.parseJSON(data);
                //console.log(data);
                $('#id_batch').html('<option selected="' + "selected" + '">' + '' +'</option>');
                $('#id_semester').html('<option selected="' + "selected" + '">' + '' +'</option>');
                //console.log(data);
                $.each(data[0], function(key, value){
                    //console.log(typeof(key), typeof(value));
                    $('#id_batch').append('<option value="' + key + '">' + value +'</option>');
                }); 
                
                for(var i = 1; i<=data[1]; i++)
                    //console.log(typeof(i))
                    $('#id_semester').append('<option value="' + parseInt(i) + '">' + parseInt(i) +'</option>');
            }, 
            errors: function(e) {
                alert(e);
            }
        })

    });

      $('#id_batch').change(function(){  
        current_batch = $(this).val();
        console.log(current_batch);

        request_url = 'login/get_section/' + current_batch + '/';
        $.ajax({
                url: request_url,
                success: function(data){
                data = $.parseJSON(data);
                console.log(data);
                if (data.length != 0)
                {
                  $('#id_toggle_section').css('display', 'block');
                  $('#id_section').html('<option selected="' + "selected" + '">' + '' +'</option>');
                 
                  for(var i=0; i<data.length; i++)
                  {
                    console.log(data[i]);
                    $('#id_section').append('<option value="' + data[i] + '">' + data[i] +'</option>');
                  }

                  }
                  else
                    $('#id_toggle_section').css('display', 'none');
                }
              })
        });
     // });
}); 

    </script>  
<script type="text/javascript" src="../../static/feedback_form/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
