<!DOCTYPE html>
<html>
<head>
	<title>Feedback|Home</title>
    <link rel="stylesheet" href="../../static/feedback_form/bootstrap/dist/css/bootstrap.min.css">
	<!--#<script type="text/javascript" src="../../static/feedback_form/prototype.js"></script>
    #<script type="text/javascript" src="../../static/feedback_form/select_batch.js"></script>-->
</head>
<body> 
    <div class="panel panel-primary">
      <div class="panel-title">   
        <div class="container">    
            <div class="row">
	           <h1 align="center"> Feedback|Home </h1>
              </div> 
        </div>     
    </div> 
</div>
<table>  
    
   <div class="text-center" align="center">
        <h3><strong class="col-md-12" >Thank-you for registering with IIPS. You may now proceed for feedback anonymously.
      </strong></h3><br>
   </div>
 </table>
 </br><br>
   </div>
   <div> <div class="container-fluid">
        <h3><strong>INSTRUCTIONS:</strong></h3>
          <p><small>1.)You are requested to give your frank and objective opinion about various aspects of the subject taught to you for improving and maintaining quality of teaching.</br>
          2.) Your response will be kept confidential.</br>
          3.) Specify the BatchId correctly you have provided e.g:IC-2k10</small>
          </p>
  </div>
</div>  
  

	{% if form.errors %}
		<p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
       <div class="jumbotron container-custom">
            <div class="form-group">
               <div class="row" align="center">   
    	<table>
    		{{ form.as_table }}
    	</table>
        {% block choice %}

        {% endblock %}
    	{% csrf_token%}
       </div>
      </div>
  </div>
</div>
     <div class="col-md-offset-3" align="center">
    	 <input type="submit" value="Submit" class="btn btn-primary"></input>
         <!--<button type="button" class="btn btn-primary">Submit</button>-->
         </div>
    </form>

   <!-- JavaScript Section -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script>
    	
      $(document).ready(function(){
          $('#id_course_name').change(function(){
            $('#id_section').parent().addClass('remove');
            $('.remove').parent().addClass('hatYar');
            c_id = $(this).val();
            if( c_id == "MTECH")
	             $('.hatYar').css('display', 'none');
	          else
	             $('.hatYar').css('display', 'block');

           request_url = 'login/get_batch/' + c_id + '/';
            $.ajax({
                url: request_url,
                success: function(data){
                data = $.parseJSON(data);
                //console.log(data);
                $('#id_batch').html('<option selected="' + "selected" + '">' + '' +'</option>');
                $('#id_semester').html('<option selected="' + "selected" + '">' + '' +'</option>');
                //console.log(data);
                $.each(data[0], function(key, value){
                    //console.log(typeof(key), typeof(value));
                    $('#id_batch').append('<option value="' + key + '">' + value +'</option>');
                }); 
                /*$.each(data[1], function(key, value){
                    $('#id_semester').append('<option value="' + key + '">' + value +'</option>');
                }); */
                //console.log(typeof(data[1]));
                for(var i = 1; i<=data[1]; i++)
                    //console.log(typeof(i))
                    $('#id_semester').append('<option value="' + parseInt(i) + '">' + parseInt(i) +'</option>');
            }, 
            errors: function(e) {
                alert(e);
            }
        })

    })
}); 

    </script>
 <script src="./../static/feedback_form/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
