<html>
<head>
	<title>thankyou</title>
	<link rel="stylesheet" href="../../static/feedback_form/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/feedback_form/bootstrap/dist/css/thankyou.css">
	
</head >
<body>
	<br><br><br><br><br><br><br><br>
		<h1 align="center" ><!-- class="text-success">-->
			<div class="panel panel-primary" class="jumbotron container-custom"><br>Thankyou for your valuable feedback.<br>
		  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
		</div> 
		</h1>
	<script src="./../static/feedback_form/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src = "../../static/feedback_form/jquery.min.js"></script>   
	<script>
	jQuery(document).ready(function($) {

      if (window.history && window.history.pushState) {

        $(window).on('popstate', function() {
          var hashLocation = location.hash;
          var hashSplit = hashLocation.split("#!/");
          var hashName = hashSplit[1];

          if (hashName !== '') {
            var hash = window.location.hash;
            if (hash === '') {
                window.location='..';
                return false;
            }
          }
        });

        window.history.pushState('forward', null, './#forward');
      }

    });

    </script>

</body>
</html>