<html>
<head>
	<title>thankyou</title>
	<link rel="stylesheet" href="../../static/feedback_form/bootstrap/dist/css/bootstrap.min.css">
	<style ="text/css">
	.glyphicon.glyphicon-thumbs-up
	{
		 font-size: 65px;
		 color: black;
	}
	</style>
</head>
<body class="bg-danger">
	<br><br><br><br><br><br><br><br>
		<h1 align="center" class="text-success">
			<div class="panel panel-primary" class="jumbotron container-custom"><br>Thankyou for your valuable feedback.<br>
		  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
		</div> 
		</h1>
	<script src="./../static/feedback_form/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>